:root{
  --blue: #233D4D;
  --green: #619B8A;
  --orange: #FE7F2D;
  --yellow: #FCCA46;
  --darkGreen: #659E89;
  --lightGreen: #A1C181;
  --white: #ffffff;
  --black: #000000;

}

.layout-container {
  height: calc(100vh - 200px);
}

.login-form,
.register-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus{
  border: 1px solid lightgrey;
  background-color: #ffffff;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:visited,
.btn-link:focus{
  text-decoration: none !important;
  background-color: #ffffff !important;
  color: #5A6E7A !important;
  font-weight: 500;
}

footer{
  background-color: var(--green);
  color: var(--white);
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.gradient-bg {
  background: linear-gradient(to left, var(--lightGreen), var(--darkGreen));
  height: 100%;
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.link-green,
.link-green:hover,
.link-green:active,
.link-green:focus{
  color: var(--green);
}

.login-icon{
  width: 35px;
  height: 35px;
  padding-right: 10px;
  margin: 0px;
}

.puls-button,
.puls-button:hover,
.puls-button:active,
.puls-button:visited,
.puls-button:focus{
  color: var(--green) !important;
  background-color: #ffffff !important;
  border: none !important;
}

.plus-icon{
  width: 40px;
  height: 40px;
}

.nav-profile{
  border: 2px solid var(--green);
  border-radius: 30px;
}

.nav-profile-button{
  width: 40px; 
  height: 40px; 
  padding: 0px; 
  border-radius: 30px; 
  font-size: 8px; 
  text-align: center; 
  background-color: #ffffff !important;
  border: none !important;
}
.nav-profile-button-big{
  width: 80px; 
  height: 80px; 
}

.nav-profile-button-icon{
  color: #cacacaf5 !important;
  width: 100%;
  height: 100%;
}

.nav-profile-points{
  display: inline;
  font-weight: 400;
  margin: 0px;
}

.image-upload-container{
  text-align: center;
}

.selected-img{
  width: 80px; 
  height: 80px; 
  border-radius: 40px;
}

.x-button,
.x-button:hover,
.x-button:active,
.x-button:visited,
.x-button:focus{ 
  color: #000000 !important;
  background-color: #ffffff !important;
  border: none !important;
}

#location-span{
  color: var(--green);
}